<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contest Helper</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        *{
            padding: 2px;
        }
        body{
            background-color: #ADB7BF;
            height: 100vh;
            display: flex;
            flex-direction: column;
    }
    </style>
</head>
<body>
<div align = 'center'>
    <img src = "{% static 'css/cover.png' %}" class="img-fluid" style = "width: 500px">
</div>

<div class="d-inline-flex p-2 bd-highlight" align = 'center'>
            <form method="POST">
                {% csrf_token %}
                <div class="row g-2">
                        <div class="col-6">
                            Select Platform
                        </div>
                <div class="col-6">
                            {{form.platform}}
                </div>


                <br>
                <div class="row g-2">
                        <div class="col-6">
                            Contest Name
                        </div>
                <div class="col-6">
                            {{form.contestName}}
                </div>
                <br>
                <div class="row g-2">
                        <div class="col-6">
                            Contest Link
                        </div>
                <div class="col-6">
                            {{form.contestLink}}
                </div>
                <div class="row g-2">
                        <div class="col-6">
                            Contest Date and Time <i> (YYYY-MM-DD HH:MM) </i>
                        </div>
                <div class="col-6">
                            {{form.dateTime}}
                </div>
                    <br>
                    <br>

                        <figure class="text-center">
                <button id = 'add' type="submit" class="btn btn-success">New Contest</button>
                            </figure>
            </form>
</div>
        <br>
        </div>
        <div id = 'Contests'>
            {% for contest in contestre %}
                <div class = 'item'>

                    <p> {{contest.platform}}
                    <p>{{contest.contestName}}
                    <p> <a href = "{{contest.contestLink}}"> Link Here </a>
                    <p> {{contest.dateTime}} </p>
                    <div class = 'controls'>
                        <a href = "{% url 'updateItem' contest.id %}"><button class = 'btn btn-secondary' type = 'button'>Change</button></a>
                        <a href = "{% url 'deleteItem' contest.id %}"><button class = 'btn btn-danger' type = 'button'>Given</button></a>
                    </div>

                </div>
                {% endfor %}
        </div>
        <script src="{% static 'css/bootstrap.css' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>